{% extends "skeleton.html" %} {% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="jumbotron mt-5">
                <h1 class="display-3">Welcome</h1>
                <p class="lead">This is an online tool for ticket management</p>
                <hr class="my-4">
                <p>This tool is restricted to {{info.AllowedUserEmailNamespace}}, to use in ESEI infraestructure department.
                    It manages problems, requests and some information.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}