{% extends "skeleton.html" %} {% block content %}

<div class="container my-5">
    <div class="row">
        <div class="col-md-12">
            <form>
                <h1>Modify ticket #{{ticket.serial}}</h1>
                <fieldset>
                    <div class="form-group">
                        <label for="title">Ticket title</label>
                        <input value="{{ticket.title}}" type="text" class="form-control" placeholder="Enter title">
                    </div>
                    <div class="form-group">
                        <label for="title">Client email</label>
                        <input value="{{ticket.client_email}}" type="email" class="form-control" placeholder="Enter email">
                    </div>
                    <div class="form-group">
                        <label for="title">Classroom</label>
                        <input value="{{ticket.classroom}}" type="text" class="form-control" placeholder="Enter classroom">
                    </div>
                    <div class="form-group">
                        <label for="title">Description</label>
                        <textarea class="form-control" rows="3">{{ticket.desc}}</textarea>
                    </div>
                    <div class="form-group">
                        <label>Ticket progress</label>
                        <select class="form-control">
                            <option {% if ticket_model.Progress.values[ticket.progress] == 'New' %} selected {% endif %}>New</option>
                            <option {% if ticket_model.Progress.values[ticket.progress] == 'Stalled' %} selected {% endif %}>Stalled</option>
                            <option {% if ticket_model.Progress.values[ticket.progress] == 'Tracked' %} selected {% endif %}>Tracked</option>
                            <option {% if ticket_model.Progress.values[ticket.progress] == 'Fixed' %} selected {% endif %}>Fixed</option>
                            <option {% if ticket_model.Progress.values[ticket.progress] == 'Inapropriate' %} selected {% endif %}>Inapropriate</option>
                            <option {% if ticket_model.Progress.values[ticket.progress] == 'Impossible' %} selected {% endif %}>Impossible</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Ticket status</label>
                        <select class="form-control">
                            <option {% if ticket_model.Status.values[ticket.status] == 'Open' %} selected {% endif %}>Open</option>
                            <option {% if ticket_model.Status.values[ticket.status] == 'Closed' %} selected {% endif %}>Closed</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Ticket priority</label>
                        <select class="form-control">
                            <option {% if ticket_model.Priority.values[ticket.priority] == 'Low' %} selected {% endif %}>Low</option>
                            <option {% if ticket_model.Priority.values[ticket.priority] == 'Normal' %} selected {% endif %}>Normal</option>
                            <option {% if ticket_model.Priority.values[ticket.priority] == 'High' %} selected {% endif %}>High</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label>Ticket type</label>
                        <select class="form-control">
                            <option {% if ticket_model.Type.values[ticket.type] == 'Repair' %} selected {% endif %}>Repair</option>
                            <option {% if ticket_model.Type.values[ticket.type] == 'Printer' %} selected {% endif %}>Printer</option>
                            <option {% if ticket_model.Type.values[ticket.type] == 'Software' %} selected {% endif %}>Software</option>
                            <option {% if ticket_model.Type.values[ticket.type] == 'Supplies' %} selected {% endif %}>Supplies</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-primary">Create ticket</button>
                </fieldset>
            </form>
        </div>
    </div>
</div>

{% endblock %}