{% extends "skeleton.html" %}
{% block content %}
<script type="text/javascript">
    function hideError() {
        document.getElementById( "dvError" ).style.display = "none";
    }

    function showError(msg) {
        var dvError = document.getElementById( "dvError" );
        var pError = document.createElement( "p" );

        dvError.innerHTML = "";
        dvError.appendChild( pError );
        pError.appendChild( document.createTextNode( msg ) );
        dvError.style.display = "block";
    }

    function chk() {
        var toret = true;
        var edTitle = document.getElementById( "edTitle" );
        var edSubtitle = document.getElementById( "edSubtitle" );
        var edSummary = document.getElementById( "edSummary" );

        hideError();

        if ( edTitle.value.trim().length == 0 ) {
            showError( "The title is mandatory." );
            toret = false;
        }

        return toret;
    }
</script>
<div id="dvInnerContents">
    <div id="dvSpecificActions" class="clsMenu">
        <a href="/manage_stories">
            <img width="24px" height="24px" alt="back" title="back" class="styled-button" src="/res/back.svg"/>
        </a>
    </div>
    <div id="dvTitle">
    <p><img height="32px" width="32px" title="stories" src="/res/story.svg"/>Modify Story</p>
    </div>
    <div id="dvBody">
    <p>
    <form id="frmModifyStory"
        onsubmit="javascript: return chk();"
        action="/stories/modify?story_id={{story.key.urlsafe()}}" method="post">
        <p>
        <b><label for="edTitle">Title</label></b> <input type="text" name="title" id="edTitle" size="80"
                value="{{story.title}}"
                style="border:none;background-color:lightgray"/>
        <br/>
        <b><label for="edSubtitle">Subtitle</label></b> <input type="text" name="subtitle" id="edSubtitle" size="80"
                value="{{story.subtitle}}"
                style="border:none;background-color:lightgray"/>
        <br />
        <b><label for="edSummary">Summary</label></b>
        <textarea name="summary" id="edSummary" placeholder="Write some text..."
                rows="10" cols="80"
                style="border:none;background-color:lightgray">{{story.summary}}</textarea>
        <br/>
        <p>
        <input type="image"
            class="styled-button"
            title="modify" alt="modify"
            width="16px" height="16px" src="/res/modify.svg"
            onsubmit="javascript: document.frmModifyStory.submit()"/>
        </p>
    </form>
    </div>
    <div id="dvError">
    </div>
</div>
{% endblock %}
