.body {
    background-color: white;
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 10pt
}

label {
    display: inline-block;
    width: 25%;
    font-size: 14pt;
}

input {
    margin: 5px;
    font-size: 12pt;
    font-family: "Courier New", monospace
}

textarea {
    margin: 5px;
    font-size: 12pt
}

#dvInnerContents {
    width: 90%;
    margin: auto
}

#dvHeader {
    margin: 1px;
    font-size: 14pt;
    font-style: italic;
    text-transform: capitalize;
    color: white;
    background-color: darkcyan
}

#dvTitle {
    margin: 5px;
    color: black;
    font-weight: bolder;
    font-size: 16pt;
    background-color: lightgray
}

#dvBody {
    margin: 20px;
    padding: 20px;
}

#tblEntries {
    width: 100%;
    border-collapse: collapse;
}

.tblEntryRow {
    font-size: 12pt;
    background-color: lightgray;
}

.cell-part {
    display: table-cell;
    vertical-align: middle;
    text-align: center
}

#dvCharacterReferenceEntry {
    background-color: dimgray;
    color: white;
    font-size: 12pt;
}

#dvError {
    display: none;
    text-align: center;
    color: white;
    background-color: red;
    font-size: 16pt;
    font-weight: bold
}

#dvWarning {
    color: black;
    background-color: yellow;
    margin: 20px;
    padding: 10px;
    font-size: 16pt;
    font-weight: bold
}

.clsMenu {
    margin: 0 5px 5px 5px;
    padding: 0 5px 5px 5px;
    font-weight: bolder;
    font-size: 10pt;
    text-align: center;
    position: fixed;
    top: 25%
}

#dvSpecificActions {
    background-color: white;
    left: 0
}

#dvGeneralActions {
    background-color: white;
    right: 0
}

#dvStats {
    font-family: monospace, "Courier New";
    text-align: right;
    font-size: 9pt;
}

input.button {
    background-color: black;
    color: cyan
}

/* Hyperlinks */
a, a:visited {
    color: black;
	text-decoration: none
}

a:hover {
    color: white;
	text-decoration: none
}

/* Buttons */
.styled-button {
    vertical-align: middle;
	background: darkcyan;
	padding:5px 5px;
	color:#fff;
	font-family:'Helvetica Neue',sans-serif;
	font-size:10px;
	border-radius:5px;
	border:1px solid cyan
}
