{% extends "skeleton.html" %}
{% block content %}
<div id="dvInnerContents">
    <div id="dvSpecificActions" class="clsMenu">
        <a href="/manage_tickets">
            <img height="24px" width="24px" title="back"
                 class="styled-button" src="/res/back.svg"/>
        </a>
        <br/>
        <a href="/users/add">
            <img height="24px" width="24px" title="new user"
                 class="styled-button" src="/res/add.svg"/>
        </a>
        <br/>
    </div>
    <div id="dvTitle">
        <img height="32px" width="32px" title="users" style="background-color: black" src="/res/user.svg"/>
        <b>Users</b>
    </div>
    <div id="dvBody">
        <p><table id="tblEntries">
        {% for user_desc in users %}
            <tr class="tblEntryRow">
            <td>
            <a href="/users/modify?user_id={{user_desc.key.urlsafe()}}">
                <img width="16px" height="16px" title="modify"
                     class="styled-button" src="/res/modify.svg"/>
            </a>
            <a href="/users/delete?user_id={{user_desc.key.urlsafe()}}">
                <img width="16px" height="16px" title="delete"
                     class="styled-button" src="/res/delete.svg"/>
            </a>
            </td>
            {% include "user_description.html" %}
            </tr>
        {% else %}
            No users yet.
        {% endfor %}
        </table></p>
    </div>
</div>
{% endblock %}
